@import "node_modules/govuk-frontend/dist/govuk/all";

#journey-tiles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}

#journey-tiles > a {
    background-color: aqua;
    text-decoration: none;
    padding: 16px;
}

.govuk-back-link {
    cursor: pointer;
}